{% extends '::base.html.twig' %}

{% block title %}Ajouter une étape - {{ parent() }}{% endblock title %}

{% block body -%}
    <h1>Etape creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a class="btn btn-warning" href="{{ path('etape') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
