{% extends '::base.html.twig' %}

{% block title %}Accueil - {{ parent() }}{% endblock title %}

{% block body %}

    <h1>Création d'un voyage </h1>

    <div class="home">

        <a href="#" class="btn btn-warning"> Ajouter une Photo </a>
        <a href="#" class="btn btn-primary"> Créer un Voyage </a>
        <a href="#" class="btn btn-success"> Créer un Arrêt </a>
        <a href="#" class="btn btn-danger"> Créer une Etape </a>
    </div>

{% endblock %}