{% extends '::base.html.twig' %}

{% block title %}Éditer un voyage - {{ parent() }}{% endblock title %}

{% block body -%}
    <h1>Éditer un voyage</h1>

    {{ form(edit_form) }}

    <div class="btn-margin">
        <a class="btn btn-primary" href="{{ path('voyage') }}">Retour</a>
    </div>

    {{ form(delete_form) }}

{% endblock %}
