{% extends '::base.html.twig' %}

{% block title %}Éditer un voyage - {{ parent() }}{% endblock title %}

{% block body -%}
    <h1>Éditer un voyage</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a class="btn btn-warning" href="{{ path('voyage') }}">
            Retour
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
