{% extends '::base.html.twig' %}

{% block title %}Ajouter un voyage - {{ parent() }}{% endblock title %}

{% block body -%}
    <h1>Ajouter un voyage</h1>

    {{ form(form) }}

        <a class="btn btn-warning" href="{{ path('voyage') }}">
            Retour
        </a>

{% endblock %}
