
html{
    margin:0;
    padding:0;
    background:url("../img/back2.jpg") no-repeat center fixed;
    background-size:cover;
}

body{
    background-color: rgba(255,255,255,0.7);
}

.home{
    text-align: center;
}

.home .btn{
    height: 140px;
    width: 200px;
    padding-top: 60px;
    margin: 30px 30px 50px 30px;
}


.login .container-login{
    margin:15% auto;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 10px;
}

.login .container-login form{
    width: 400px;
    margin: auto;
}

input{
    margin-bottom: 20px;
    border: none;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea{
    background-color: #ecf0f1;
}
h1{
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 80px;
    text-align: center;
    padding-top: 20px;
}

form {
    width: 335px;
    margin: auto;
}

form label{
    width: 160px;
}

form input{
    width: 170px;
}

form input[type="checkbox"]{
    width: 13px;
}

form .label-checkbox{
    width: 131px;
}

form input.btn{
    width: initial;
    margin-bottom: 20px;
}

form button{
    color: #fff;
    background-color: darkslategray;
    border-color: none;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;

}

.btn-margin .btn{
    margin-bottom: 20px;
}

.btn-margin {
    margin: 20px;
    text-align: center;
}

.photo-center {
    margin: 20px;
    text-align: center;
}
