{% extends '::base.html.twig' %}

{% block title %}Éditer une photo - {{ parent() }}{% endblock title %}

{% block body -%}
    <h1>Éditer une photo</h1>

        {{ form(edit_form) }}


    <div class="btn-margin">
        <a class="btn btn-warning" href="{{ path('photo') }}">Retour</a>
    </div>

    {{ form(delete_form) }}

{% endblock %}
