{% extends '::base.html.twig' %}

{% block title %}Éditer une photo - {{ parent() }}{% endblock title %}

{% block body -%}
    <h1>Éditer une photo</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a class="btn btn-warning" href="{{ path('photo') }}">
            Retour
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
