{% extends '::base.html.twig' %}

{% block title %}Ajouter une photo - {{ parent() }}{% endblock title %}

{% block body -%}
    <h1>Ajouter une photo</h1>

    {{ form(form) }}

    <div class="btn-margin">
        <a class="btn btn-warning" href="{{ path('photo') }}">Retour</a>
    </div>

{% endblock %}
