{% extends '::base.html.twig' %}

{% block title %}Ajouter une photo - {{ parent() }}{% endblock title %}

{% block body -%}
    <h1>Photo creation</h1>

    {{ form(form) }}

        <a class="btn btn-warning" href="{{ path('photo') }}">
            Back to the list
        </a>

{% endblock %}
