{% extends '::base.html.twig' %}

{% block title %}Éditer un arrêt - {{ parent() }}{% endblock title %}

{% block body -%}
    <h1>Éditer un arrêt</h1>

    {{ form(edit_form) }}

    <div class="btn-margin">
        <a class="btn-success" href="{{ path('arret') }}">Retour</a>
    </div>

    {{ form(delete_form) }}

{% endblock %}
