{% extends '::base.html.twig' %}

{% block title %}Éditer un arrêt - {{ parent() }}{% endblock title %}

{% block body -%}
    <h1>Arret edit</h1>

    {{ form(edit_form) }}


        <a href="{{ path('arret') }}">
            Back to the list
        </a>

    {{ form(delete_form) }}

{% endblock %}
