{% extends '::base.html.twig' %}

{% block title %}Ajouter un arrêt - {{ parent() }}{% endblock title %}

{% block body -%}
    <h1>Ajouter un arrêt</h1>

    {{ form(form) }}


        <a class="btn btn-warning" href="{{ path('arret') }}">
            Retour
        </a>


{% endblock %}
