{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Arret creation</h1>

    {{ form(form) }}


        <a class="btn btn-warning" href="{{ path('arret') }}">
            Back to the list
        </a>


{% endblock %}
