{% extends '::base.html.twig' %}

{% block title %}Ajouter un arrêt - {{ parent() }}{% endblock title %}

{% block body -%}
    <h1>Ajouter un arrêt</h1>

    {{ form(form) }}

    <div class="btn-margin">
        <a class="btn btn-success" href="{{ path('arret') }}">Retour</a>
    </div>

{% endblock %}
